{% extends 'base.html.twig' %}

{% block title %}Voir les informations de vos <strong>tickets</strong>{% endblock %}

{% block body %}
    <section class="container w-75 my-5 text-center">
        <h1 class="mb-3">Liste de vos <strong>tickets</strong> enregistrés</h1>
        <div class="row text-center">
            <h2>                
                <p>Vous pouvez contacter le support</p>
                <a href="{{path('app_user_createTicket')}}" class="btn btn-danger mt-4" ><i class="fa fa-plus pe-2"></i> Créer un ticket</a>
            </h2>
        </div>
        <div class="row">
            <table class="table table-hover bg-light my-3">
                <thead class="table-dark">
                    <tr>
                        <td>N°</td>
                        <td>Titre du ticket</td>
                        <td>Contenu du ticket</td>                        
                        <td>Crée le</td>
                        <td>Résolu le</td>
                        <td>Détails</td>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in tickets|reverse %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.content }}</td>
                        <td>{{ ticket.createdAt.format('d/m/Y') }}</td>
                        <td>{% if ticket.completedAt != null %}{{ ticket.completedAt.format('d/m/Y') }}{% else %} En attente{% endif %}</td>
                        <td><a href="{{path('app_user_showTicket', {id: ticket.id} )}}" ><i class="fa fa-eye"></i></a></td>                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}